<!-- Uso del decorador: @Input, directiva: *ngFor 
<app-destino-viajes *ngFor="let x of destinos" [nombre]="x"></app-destino-viajes> -->
<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form	card	login	with	validation	feedback	-->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Whishlist</h3>
                </div>
                <div class="card-body">
                    <!--Nuevo evento 'onItemAdded'-->
                    <app-form-destino-viajes (onItemAdded)="agregado($event)"></app-form-destino-viajes>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5" />
    <div class="container">
        <div class="row">
            <!--directiva: destinos[], valor del indice se guarda en d y se pasa a destino del componente 'destino-viajes'-->
            <!--'$event es equivaleste a 'd' destino'-->
            <!--'index': es las veces que se itera-->
            <app-destino-viajes *ngFor="let d of all; let i=index" [destino]="d" [idx]="i+1" (clicked)="elegido($event)"></app-destino-viajes>
        </div>
    </div>

    <hr class="mb-5" />
    <div class="row">
        <h5>
            Actividad
        </h5>
        <ul>
            <li *ngFor="let u of updates">{{u}}</li>
        </ul>
    </div>
</div>