<form [formGroup]="fg" (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <!--uso de variables de plantilla "#" disponibles para ser usadas-->
    <!--objetos con sus propiedades... type, value, etc -->
    <div class="form-group">
        <label for="nombre">Nombre</label><input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre" [formControl]="fg.controls['nombre']" />
        <ul>
            <li *ngFor="let r of searchResults">{{r}}</li>
        </ul>
        <!--Validaciones----
        <div *ngIf="fg.controls['nombre'].valid">
            nombre requerido!
        </div>-->
        <!--Validaciones personalizadas-->
        <div *ngIf="fg.controls['nombre'].hasError('required')">
            nombre requerido!
        </div>
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">
            nombre invalido!
        </div>
        <div *ngIf="fg.controls['nombre'].hasError('minLogNombre')">
            nombre debe tener al menos {{minLongitud}} de largo!
        </div>
    </div>
    <div class="form-group">
        <label for="imagenUrl">Imagen Url</label><input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar Url" [formControl]="fg.controls['url']" />
    </div>
    <!--Evento -- Uso de validacion-->
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar</button>
</form>